  
  <!--<footer class="navbar navbar-dark bg-dark footer">
    <p class="text-center white footer-text">Copyright &copy;
      <span id="year"></span> by Darrell Pawson. All rights reserved.
    </p>
  </footer> -->
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.bundle.min.js"></script>
  <script src="/javascripts/bootstrap-notify.js"></script>
  <script src="/javascripts/main.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.4.2/js/all.js" integrity="sha384-wp96dIgDl5BLlOXb4VMinXPNiB32VYBSoXOoiARzSTXY+tsK8yDTYfvdTyqzdGGN" crossorigin="anonymous"></script>
</body>
</html>