  
  <footer class="navbar fixed-bottom navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Fixed bottom</a>
  </footer>
  </div>
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.bundle.min.js"></script>
  <script src="/javascripts/bootstrap-notify.js"></script>
  <script src="/javascripts/main.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.4.2/js/all.js" integrity="sha384-wp96dIgDl5BLlOXb4VMinXPNiB32VYBSoXOoiARzSTXY+tsK8yDTYfvdTyqzdGGN" crossorigin="anonymous"></script>
</body>
</html>