<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/materialize.min.css' />
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/jquery.mask.min.js"></script>
    <script src="/javascripts/materialize.min.js"></script>
    
    <script src="/javascripts/main.js"></script>
    
  </head>
  <body>
    <% include nav %>
    <% include messages %>