
  <% if(error && error.length > 0){ %>
    <div id="alert-danger" class="alert alert-danger alert-dismissable fade show animated bounceInRight custom-alert d-flex align-items-center justify-content-center" role="alert">
      <p><i class="fas fa-spider fa-2x my-auto"></i> <%= error %></p>  
    </div>
  <% } %>
  
  <% if(success && success.length > 0){ %>
    <div id="alert-success" class="alert alert-success alert-dismissable fade show animated bounceInRight custom-alert d-flex align-items-center justify-content-center" role="alert">
      <p><i class="fas fa-spider fa-2x my-auto"></i> <%= success %></p>
    </div>
  <% } %>

    