<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="text-align: center;" >Cookies</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <p>This site uses cookies to enhance your experience. For more information please see the linke below.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-xs-offset-2">
            <a href="https://MYURL.COM/DIRTOCOOKIEPOLICY">Cookie Policy</a>
          </div>
          
        </div>
        
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>-->
    </div>

  </div>
</div>