<!-- Notes Modal -->
<div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="notesLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="notesLabel"><strong>Create A note for <%= foundCustomer.firstName.charAt(0).toUpperCase() + foundCustomer.firstName.slice(1) %> 
            </strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <form action="/customers/<%=foundCustomer._id%>/notes" method="post">
          <textarea class="shadow form-control" name="text" id="text" placeholder="Enter note here..."></textarea>
          <div class="modal-footer">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create Note</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End Notes Modal -->