<% include partials/header %>
<div class="container">
  <div class="row">
    <div class="col s12 m8 offset-m2">
      <h3 class="center">
        <%=title %>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card">
       <div class="card-image">
          <img id="map">
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<script>
  var foundCustomer = <%-JSON.stringify(foundCustomer) %>
</script>
<script src="/javascripts/map.js"></script>

<script>
  </body>
</html>