<% include partials/header %>
  <div class="container h-100">
    <div class="row h-100 d-flex align-items-center">
      <div class="col ">
        <div class="jumbotron ">
          <h1 class="text-center"><%= title %></h1>
          <% if (isAuthenticated) { %>
            <p class="text-center">Welcome <%= currentUser.firstName.charAt(0).toUpperCase() + currentUser.firstName.slice(1) %>! Please click one of the links above to start using the site</p>
          <% } else { %>
            <p class="text-center">Please click one of the links above to start using the site</p>
          <% } %>

        </div>
      </div>
    </div>
  </div>
<% include partials/footer %>