<% include partials/header %>
  <div class="container d-flex full justify-content-center align-items-center white">
    <div class="row w-100">
      <div class="col-md-8 offset-md-2">
        <h1 class="text-center">Your Customer Portal</h1>
        <p class="lead text-center">Please login to add and search for customers.</p>
      </div>
    </div>
  </div>
<% include partials/footer %> 
