<% include partials/header %>
<div class="container  h-100 valign-wrapper">
  <div class="row">
    <div class="col m12">
      <h3 class="center">Customer Access &mdash; Login</h3>
    </div>
    <div class="row">
      <form class="col m12 s6 offset-s3" action="/auth/login" method="POST">
        <div class="row">
          <div class="input-field col m6">
            <input id="userName" name="username" type="text" class="validate" required>
            <label for="userName">Username</label>
            <span class="helper-text" data-error="Username is required"></span>
          </div>
          <div class="input-field col m6">
            <input id="password" name="password" type="password" class="validate" required>
            <label for="password">Password</label>
            <span class="helper-text" data-error="Password is required"></span>
          </div>
          <div class="row">
            <div class="col m12">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button class="waves-effect waves-light btn center-btn" type="submit">Login</button>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
<% include partials/footer %>