<% include partials/header %>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-8 offset-md-2">
      <h1 class="text-center"><%= title %></h1>
      <h3 class="text-center">New Customer</h3>
      <form action="/customers/add" method="POST">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="week">Week</label>
            <select class="form-control form-control-sm" id="week" name="week">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="day">Day</label>
            <select class="form-control form-control-sm" id="day" name="day">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName" class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-6">
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" id="lastName" class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-6">
            <label for="companyName">Company Name(optional)</label>
            <input type="text" name="companyName" id="companyName" class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-6">
            <label for="phoneNumber">Phone Number</label>
            <input type="tel" name="phoneNumber" id="phoneNumber" class="form-control form-control-sm" required>
          </div>
          <div class="form-group col-md-6">
            <label for="address">Address</label>
            <input type="text" name="address" id="address" class="form-control form-control-sm" required>
          </div>
          <div class="form-group col-md-6">
            <label for="email">Email Address</label>
            <input type="email" name="email" id="email" class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-4">
            <label for="price">Price</label>
            <input type="text" name="price" id="price" class="form-control form-control-sm">
          </div>
          <div class="form-group col-md-4">
            <label for="preference">Contact Preference</label>
            <select class="form-control form-control-sm" id="preference" name="preference" required>
              <option value="Call">Call</option>
              <option value="Text">Text</option>
              <option value="Email">Email</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="timeSelect">Contact Preference</label>
            <select class="form-control form-control-sm" id="timeSelect" name="time" required>
              <option selected>Select Time</option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Add new Customer</button>
      </form>
    </div>
  </div>
</div>
<% include partials/footer %>