<% include partials/header %>
<!-- Reg form -->
  <div class="container">
    <div class="wrapper">
      <div class="row">
        <div class="col">
          <div class="jumbotron">
            <h1 class="text-center">Password Reset</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <form action="/auth/forgot-pw" method="POST">
            <div class="form-row">
              <div class="col-md-4 mt-1">
                <label class="float-left" for="username">Username</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Username">
              </div>
              <div class="col-md-4 mt-1">
                <label class="float-left" for="oldPassword">Old Password</label>
                <input type="password" id="oldPassword" name="oldPassword" class="form-control" placeholder="Last Name">
              </div>
              <div class="col-md-4 mt-1">
                <label class="float-left" for="newPassword">New Password</label>
                <input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="New Password">
              </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3 full-btn float-right">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- End Reg form -->
<% include partials/footer %>