<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Site Auth &mdash; Resend Token</title>

  <!-- Bootstrap core CSS -->
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/stylesheets/signin.css" rel="stylesheet">
</head>

<body class="">
  <div class="text-center">
    <div class="register-form">
      <form class="form-signin" action="/resend?_method=PUT" method="POST">
      <% include partials/messages %>
        <h1 class="h3 mb-3 font-weight-normal">Site Auth &mdash; New Token</h1>

        <label for="email" class="sr-only">Email address</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>

        <button class="btn btn-lg btn-warning btn-block mt-3" type="submit">Resend token</button>
        
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
      </form>
    </div>
  </div>
</body>

</html>