<% include partials/header %>
<div class="container">
  <div class="row">
    <div class="col m8 offset-m2">
      <h3 class="center white-text">Customer Access &mdash; Password</h3>
    </div>
    <div class="row">
      <form class="col m8 offset-m2" action="/validate/set-password" method="POST">
        <div class="row">
          <div class="input-field col m4">
            <input id="username" name="username" type="text" class="validate" required>
            <label for="username">Username</label>
            <span class="helper-text" data-error="Username is required"></span>
          </div>
          <div class="input-field col m4">
            <input id="password" name="password" type="password" class="validate" required>
            <label for="password">Email</label>
            <span class="helper-text" data-error="Password is required"></span>
          </div>
          <div class="input-field col m4">
            <input id="confirmationPassword" name="confirmationPassword" type="password" class="validate" required>
            <label for="confirmationPassword">Phone Number</label>
            <span class="helper-text" data-error="Password is required"></span>
          </div>
          <div class="row">
            <div class="col m12">
              <button class="waves-effect waves-light btn center-btn" type="submit">Register</button>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
<% include partials/footer %>