<% include partials/header %>
<div class="container h-100">
  <div class="row h-100 d-flex align-items-center">
    <div class="jumbotron jumbotron-form">
      <h1 class="block"><i class="fas fa-user-check fa-3x"></i><span>Validate</span></h1>
    </div>
    <div class="col">
      <form action="/validate/set-password" method="POST">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="token">Username</label>
            <input type="text" class="form-control form-control-sm" id="username" name="username" placeholder="Username">
          </div>
          <div class="form-group col-md-4">
            <label for="token">Password</label>
            <input type="password" class="form-control form-control-sm" id="password" name="password" placeholder="Password">
          </div>
          <div class="form-group col-md-4">
            <label for="token">Confirmation Password</label>
            <input type="password" class="form-control form-control-sm" id="confirmationPassword" name="confirmationPassword" placeholder="Confirm Password">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Set Password</button>
      </form>
    </div>
  </div>
</div>
<% include partials/footer %>