<% include partials/header %>
<div class="container h-100">
  <div class="row h-100 d-flex align-items-center">
    <div class="jumbotron jumbotron-form">
      <h1 class="block"><i class="fas fa-user-check fa-3x"></i><span>Validate</span></h1>
    </div>
    <div class="col">
      <form action="/validate/token-validate" method="POST">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="token">Token</label>
            <input type="text" class="form-control form-control-sm" id="token" name="token" placeholder="Token">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
  </div>
</div>

<% include partials/footer %>