<% include partials/header %>
<!-- Reg form -->
  <div class="container">
    <div class="wrapper">
      <div class="row">
        <div class="col">
          <div class="jumbotron">
            <h1 class="text-center">Validate your account</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <form action="/validate/token-validate" method="POST">
            <div class="form-row">
              <div class="col-md-6 offset-md-3 mt-1">
                <label class="float-left" for="firstName">Token</label>
                <input type="text" id="token" name="token" class="form-control" placeholder="Token">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" class="btn btn-primary mt-3 btn-block">Validate</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Reg form -->

<% include partials/footer %>