body {
  background-color: whitesmoke;
  font-family: 'Raleway',
  sans-serif;
  height: calc(100vh - 80px);
  letter-spacing: 1.3px;
  line-height: 1.2rem;
}


.custom-alert {
  position: fixed;
  top: 10%;
  left: 65%;
  width: 35%;
  z-index: 999;
  overflow: hidden;
}

.white {
  color: #fff !important;
}

.create-time {
  font-size: .75em;
  font-style: italic;
}

hr.style-two {
   border: 0; 
   height: 1px;
   width: 80%;
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
}

.small-nav-image {
  height: 20px;
  width: auto;
  overflow: hidden;
}

.customer-image {
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

.page-fix {
  margin-bottom: 80px;
}

.full {
  font-size: .85rem;
  font-style: normal;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  line-height: 50px;
  /* Vertically center the text there */
  background-color: #f5f5f5;
}

.footer-text {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translateX(-50%) translateY(-50%);
}

#map {
   height: 500px;
   width: 100%;
}

.marker {
  background-image: url("/images/mapbox-icon.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.inline-btn {
  display: inline;
  margin-right: 5px;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 60vw;
}

.wrapper-sm {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateX(-25%) translateY(-50%);
  width: 60vw;
}

@media only screen and (max-width: 480px) {
  .heading-card h1 {
    font-size: 2rem;
  }

  .wrapper {
    width: 80vw;
    margin-top: 30px;
  }

  .full-btn {
    width: 100%;
  }
}

@media only screen and (max-width: 520px) {
  .customer-button {
    width: 100%;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .center-btn {
    width: 100%;
  }

  #map {
    max-height: 300px;
    max-width: 100%;
  }

  .custom-alert {
    width: 100%;
    left: 0;
  }

}

@media only screen and (max-width: 575px) {
  .mobile:nth-child(1) {
    margin-bottom: 5px !important;
  }
}

@media only screen and (max-width: 991px) {
  .auth-btn-fix {
    float: left;
    width: 60%;
  }

  .auth-btn-fix:nth-child(odd){
    margin-top: 5px !important;

  }

  .mobile {
    min-width: 30% !important;
  }
}
