body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/fly.jpeg);
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.move-right-sm {
  margin-left: 25px;
}

.h-100 {
  height: 100%;
}