.small-img {
  height: 25px;
  width: 25px;
}

.middle {
  justify-content: center;
}

.full {
  min-height: 90vh;
}

.white {
  color: #fff
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/fly.jpeg');
  background-position: center;
  background-size: cover;
}

.white {
  color: #fff;
}